<table cellpadding="20" cellspacing="5" id="seat">
	<tr>
		<th class="seat_header">A</th>
		<td class="seat_economy">1</td>
		<td class="seat_economy">2</td>
		<td class="seat_economy">3</td>
		<td class="seat_economy">4</td>
		<td class="seat_economy">5</td>
		<td class="seat_economy">6</td>
		<td class="seat_economy">7</td>
		<td class="seat_economy">8</td>
		<td class="seat_economy">9</td>
		<td class="seat_economy">10</td>
		<td class="seat_empty"></td>
		<td class="seat_empty"></td>
		<td class="seat_handicapped">13</td>
		<td class="seat_handicapped">14</td>
		<td class="seat_empty"></td>
		<td class="seat_empty"></td>
		<td class="seat_empty"></td>
	</tr>
	<tr>
		<th class="seat_header">B</th>
		<td class="seat_economy">1</td>
		<td class="seat_economy">2</td>
		<td class="seat_economy">3</td>
		<td class="seat_economy">4</td>
		<td class="seat_economy">5</td>
		<td class="seat_economy">6</td>
		<td class="seat_economy">7</td>
		<td class="seat_economy">8</td>
		<td class="seat_economy">9</td>
		<td class="seat_economy">10</td>
		<td class="seat_economy">11</td>
		<td class="seat_economy">12</td>
		<td class="seat_economy">13</td>
		<td class="seat_economy">14</td>
		<td class="seat_empty"></td>
		<td class="seat_empty"></td>
		<td class="seat_empty"></td>
	</tr>
	<tr>
		<th class="seat_header">C</th>
		<td class="seat_standard">1</td>
		<td class="seat_standard">2</td>
		<td class="seat_standard">3</td>
		<td class="seat_standard">4</td>
		<td class="seat_standard">5</td>
		<td class="seat_standard">6</td>
		<td class="seat_standard">7</td>
		<td class="seat_standard">8</td>
		<td class="seat_standard">9</td>
		<td class="seat_standard">10</td>
		<td class="seat_standard">11</td>
		<td class="seat_standard">12</td>
		<td class="seat_standard">13</td>
		<td class="seat_standard">14</td>
		<td class="seat_empty"></td>
		<td class="seat_empty"></td>
		<td class="seat_empty"></td>
	</tr>
	<tr>
		<th class="seat_header">D</th>
		<td class="seat_standard">1</td>
		<td class="seat_standard">2</td>
		<td class="seat_standard">3</td>
		<td class="seat_standard">4</td>
		<td class="seat_standard">5</td>
		<td class="seat_standard">6</td>
		<td class="seat_standard">7</td>
		<td class="seat_standard">8</td>
		<td class="seat_standard">9</td>
		<td class="seat_standard">10</td>
		<td class="seat_standard">11</td>
		<td class="seat_standard">12</td>
		<td class="seat_standard">13</td>
		<td class="seat_standard">14</td>
		<td class="seat_empty"></td>
		<td class="seat_empty"></td>
		<td class="seat_empty"></td>
	</tr>
	<tr>
		<th class="seat_header">E</th>
		<td class="seat_standard">1</td>
		<td class="seat_standard">2</td>
		<td class="seat_standard">3</td>
		<td class="seat_standard">4</td>
		<td class="seat_standard">5</td>
		<td class="seat_standard">6</td>
		<td class="seat_standard">7</td>
		<td class="seat_standard">8</td>
		<td class="seat_standard">9</td>
		<td class="seat_standard">10</td>
		<td class="seat_standard">11</td>
		<td class="seat_standard">12</td>
		<td class="seat_standard">13</td>
		<td class="seat_standard">14</td>
		<td class="seat_empty"></td>
		<td class="seat_empty"></td>
		<td class="seat_empty"></td>
	</tr>
	<tr>
		<th class="seat_header">F</th>
		<td class="seat_standard">1</td>
		<td class="seat_standard">2</td>
		<td class="seat_standard">3</td>
		<td class="seat_standard">4</td>
		<td class="seat_standard">5</td>
		<td class="seat_standard">6</td>
		<td class="seat_standard">7</td>
		<td class="seat_standard">8</td>
		<td class="seat_standard">9</td>
		<td class="seat_standard">10</td>
		<td class="seat_standard">11</td>
		<td class="seat_standard">12</td>
		<td class="seat_standard">13</td>
		<td class="seat_standard">14</td>
		<td class="seat_empty"></td>
		<td class="seat_empty"></td>
		<td class="seat_empty"></td>
	</tr>
	<tr>
		<th class="seat_header">G</th>
		<td class="seat_empty"></td>
		<td class="seat_empty"></td>
		<td class="seat_standard">3</td>
		<td class="seat_standard">4</td>
		<td class="seat_standard">5</td>
		<td class="seat_standard">6</td>
		<td class="seat_standard">7</td>
		<td class="seat_standard">8</td>
		<td class="seat_standard">9</td>
		<td class="seat_standard">10</td>
		<td class="seat_standard">11</td>
		<td class="seat_standard">12</td>
		<td class="seat_standard">13</td>
		<td class="seat_standard">14</td>
		<td class="seat_empty"></td>
		<td class="seat_empty"></td>
		<td class="seat_empty"></td>
	</tr>
	<tr>
		<th class="seat_header">H</th>
		<td class="seat_empty"></td>
		<td class="seat_empty"></td>
		<td class="seat_prime">3</td>
		<td class="seat_prime">4</td>
		<td class="seat_prime">5</td>
		<td class="seat_prime">6</td>
		<td class="seat_prime">7</td>
		<td class="seat_prime">8</td>
		<td class="seat_prime">9</td>
		<td class="seat_prime">10</td>
		<td class="seat_prime">11</td>
		<td class="seat_prime">12</td>
		<td class="seat_prime">13</td>
		<td class="seat_prime">14</td>
		<td class="seat_empty"></td>
		<td class="seat_empty"></td>
		<td class="seat_empty"></td>
	</tr>
	<tr>
		<th class="seat_header">I</th>
		<td class="seat_empty"></td>
		<td class="seat_empty"></td>
		<td class="seat_prime">3</td>
		<td class="seat_prime">4</td>
		<td class="seat_prime">5</td>
		<td class="seat_prime">6</td>
		<td class="seat_prime">7</td>
		<td class="seat_prime">8</td>
		<td class="seat_prime">9</td>
		<td class="seat_prime">10</td>
		<td class="seat_prime">11</td>
		<td class="seat_prime">12</td>
		<td class="seat_prime">13</td>
		<td class="seat_prime">14</td>
		<td class="seat_empty"></td>
		<td class="seat_empty"></td>
		<td class="seat_empty"></td>
	</tr>
	<tr>
		<th class="seat_header">J</th>
		<td class="seat_empty"></td>
		<td class="seat_empty"></td>
		<td class="seat_prime">3</td>
		<td class="seat_prime">4</td>
		<td class="seat_prime">5</td>
		<td class="seat_prime">6</td>
		<td class="seat_prime">7</td>
		<td class="seat_prime">8</td>
		<td class="seat_prime">9</td>
		<td class="seat_prime">10</td>
		<td class="seat_prime">11</td>
		<td class="seat_prime">12</td>
		<td class="seat_prime">13</td>
		<td class="seat_prime">14</td>
		<td class="seat_empty"></td>
		<td class="seat_empty"></td>
		<td class="seat_empty"></td>
	</tr>
	<tr>
		<th class="seat_header">K</th>
		<td class="seat_empty"></td>
		<td class="seat_empty"></td>
		<td class="seat_prime">3</td>
		<td class="seat_prime">4</td>
		<td class="seat_prime">5</td>
		<td class="seat_prime">6</td>
		<td class="seat_prime">7</td>
		<td class="seat_prime">8</td>
		<td class="seat_prime">9</td>
		<td class="seat_prime">10</td>
		<td class="seat_prime">11</td>
		<td class="seat_prime">12</td>
		<td class="seat_prime">13</td>
		<td class="seat_prime">14</td>
		<td class="seat_empty"></td>
		<td class="seat_nonselect">15</td>
		<td class="seat_nonselect">16</td>
	</tr>
	<tr>
		<th class="seat_header">L</th>
		<td class="seat_empty"></td>
		<td class="seat_empty"></td>
		<td class="seat_prime">3</td>
		<td class="seat_prime">4</td>
		<td class="seat_prime">5</td>
		<td class="seat_prime">6</td>
		<td class="seat_prime">7</td>
		<td class="seat_prime">8</td>
		<td class="seat_nonselect">9</td>
		<td class="seat_prime">10</td>
		<td class="seat_prime">11</td>
		<td class="seat_prime">12</td>
		<td class="seat_prime">13</td>
		<td class="seat_prime">14</td>
		<td class="seat_empty"></td>
		<td class="seat_nonselect">15</td>
		<td class="seat_nonselect">16</td>
	</tr>
	<tr>
		<th class="seat_header">M</th>
		<td class="seat_empty"></td>
		<td class="seat_empty"></td>
		<td class="seat_nonselect">3</td>
		<td class="seat_nonselect">4</td>
		<td class="seat_nonselect">5</td>
		<td class="seat_nonselect">6</td>
		<td class="seat_nonselect">7</td>
		<td class="seat_nonselect">8</td>
		<td class="seat_nonselect">9</td>
		<td class="seat_nonselect">10</td>
		<td class="seat_nonselect">11</td>
		<td class="seat_nonselect">12</td>
		<td class="seat_nonselect">13</td>
		<td class="seat_nonselect">14</td>
		<td class="seat_empty"></td>
		<td class="seat_nonselect">15</td>
		<td class="seat_nonselect">16</td>
	</tr>					
</table>